/*=============================================================================
====footer====================================================================
==============================================================================*/

.footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  @media (max-width: $mobile) {
    font-size: 25px;
  }
  // .footer__container
  &__container {
  }
  // .footer__body
  &__body {
    padding: 163px 0 123px 0;
    display: grid;
    grid-template: 50px 3fr / 1.48fr 1fr 1fr 1.48fr;
    column-gap: 25px;
    @media (max-width: $mobile) {
      grid-template: 50px auto 50px 1fr/ 1fr 1fr;
      row-gap: 30px;
      padding: 163px 0 40px 0;
    }
    @media (max-width: em(550)) {
      display: flex;
      flex-direction: column;
    }
  }
  // .footer__social
  &__social {
    grid-column: 1 / 2;
    max-width: 237px;
    @media (max-width: $mobile) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    @media (max-width: em(550)) {
      display: none;
    }
  }
  // .footer__logo
  &__logo {
    order: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: -15px 0 0 0;
    @media (max-width: $mobile) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      margin: 0;
      padding: 0;
      align-self: end;
    }
    @media (max-width: em(550)) {
      display: none;
    }
  }
  // .footer__link
  &__link {
  }
  // .footer__text
  &__text {
    margin: 0 0 33px 0;
    font-weight: 400;
  }
  // .footer__icons
  &__icons {
    display: flex;
    column-gap: 18px;
  }
  // .footer__links
  &__links {
    grid-column: 2 / 3;
    @media (max-width: $mobile) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }
  // .footer__footer__about
  &__about {
    grid-column: 3 / 4;
    @media (max-width: $mobile) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }
  // .footer__explore
  &__explore {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    order: 2;
    // align-self: center;
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      grid-column: span 2;
      align-self: end;
    }
    @media (max-width: em(550)) {
      display: none;
    }
  }
  // .footer__contacts
  &__contacts {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-weight: 400;
    padding: 0 0 0 26px;
    @media (max-width: $mobile) {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }
  // .footer__contact
  &__contact {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    order: 3;
    padding: 0 0 12px 0;
    @media (max-width: $mobile) {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      padding: 0;
      align-self: end;
      display: flex;
      justify-content: center;
    }
    @media (max-width: em(550)) {
      display: none;
    }
  }
  // .footer__adress
  &__adress {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('../img/footer/place_24px.svg') 0 0 / 100% no-repeat;
      width: em(10);
      height: em(14);
      left: -26px;
      top: 3px;
      @media (max-width: $mobile) {
        top: 7px;
      }
    }
  }
  // .footer__phone
  &__phone {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('../img/footer/smartphone_24px.svg') 0 0 / 100% no-repeat;
      width: em(10);
      height: em(15);
      left: -26px;
      top: 3px;
      @media (max-width: $mobile) {
        top: 8px;
      }
    }
  }
  // .footer__email
  &__email {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('../img/footer/email_24px.svg') 0 0 / 100% no-repeat;
      width: em(14);
      height: em(11);
      left: -28px;
      top: 4px;
      @media (max-width: $mobile) {
        top: 10px;
      }
    }
  }
  // .footer__clock
  &__clock {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('../img/footer/timer_24px.svg') 0 0 / 100% no-repeat;
      width: em(12);
      height: em(14);
      left: -27px;
      top: 1px;
      @media (max-width: $mobile) {
        top: 7px;
      }
    }
  }
}

.links {
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
  }
  // .links__item
  &__item {
    list-style: none;
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
    }
  }
  // .links__link
  &__link {
  }
}

/*=============================================================================
====privacy-policy=============================================================
==============================================================================*/

.privacy-policy {
  background: #02133c;
  // .privacy-policy__container-1080px
  &__container-1080px {
    max-width: 1110px;
  }
  //.privacy-policy__body
  .privacy-policy__body {
    padding: 23px 0 19px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .privacy-policy__text
  &__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #959595;
  }
}
