/*=============================================================================
====header=====================================================================
==============================================================================*/

.header {
  padding: 26px 0px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container
  &__container {
  }
  // .header__body
  .header__body {
    // 		@media (max-width: $mobile) {
    // 	position: fixed;
    // 	overflow: auto;
    // 	width: 100%;
    // 	height: 100%;
    // 	top: 0;
    // 	left: -100%;
    // 	transition: left 0.3s ease 0s;
    // 	background-color: #0c0c0c;
    // 	@include adaptiveValue("padding-top", 170, 100);
    // 	padding-bottom: rem(30);
    // 	padding-right: rem(15);
    // 	padding-left: rem(15);
    // 	&::before {
    // 		content: "";
    // 		top: -100%;
    // 		position: fixed;
    // 		width: 100%;
    // 		left: 0;
    // 		transition: top 0.3s ease 0s;
    // 		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    // 		@include adaptiveValue("height", 171, 100);
    // 	}
    // 	.menu-open & {
    // 		left: 0;
    // 		&::before {
    // 			top: 0;
    // 		}
    // 	}
    // }
  }
  // .header__contacts
  &__contacts {
  }
  // .header__list
  &__list {
    @media (max-width: $mobile) {
      // color: #fff;
      position: fixed;
      overflow: auto;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s ease 0s;
      background-color: #f5f5f5;
      @include adaptiveValue('padding-top', 170, 100);
      padding-bottom: rem(30);
      padding-right: rem(15);
      padding-left: rem(15);
      &::before {
        content: '';
        top: -100%;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1;
        transition: top 0.3s ease 0s;
        background: linear-gradient(
          to bottom,
          #f5f5f5 50%,
          rgba(0, 0, 0, 0) 100%
        );
        @include adaptiveValue('height', 171, 100);
      }
      .menu-open & {
        left: 0;
        &::before {
          // background-color: grey;
          top: 0;
        }
      }
    }

    // position: absolute;
    padding: 10px 40px;
    min-height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: nowrap;
  }
  // .header__menu
  &__menu {
    // @media (max-width:$mobile){
    // 	  margin: -50px 0 0 0;
    // }
  }
  // .header__icons
  &__icons {
    @media (max-width: $mobile) {
      display: none;
    }
    display: flex;
    column-gap: 27px;
    position: relative;
  }
  // .header__search
  &__search {
    // display: flex;
    // height: 100%;
    // &::after {
    //   content: '';
    // 	display: inline-block;
    //   background: url('../img/icon/icon/icon/action/search_24px.svg') 0 0 / 100% no-repeat;
    //   // position: relative;
    // 	// left: 4px;
    //   width: 18px;
    //   height: 18px;
    //   // z-index: 999;
    // }
  }
  // .header__bucket
  &__bucket {
    // display: flex;
    // height: 100%;
    // position: relative;
    // &::after {
    //   content: '';
    // 	position: absolute;
    // 	background-color: #c40b0b;
    // 	border-radius: 50%;
    //   // position: relative;
    // 	left: 4px;
    // 	top: 0;
    //   width: 16px;
    //   height: 16px;
    //   // z-index: 999;
    // }
  }
}

// .contacts__light
.menu-open .contacts__light {
  display: none;
}
.contacts__light {
  display: inline-block;
}
// .contacts__dark
.contacts__dark {
  display: none;
}
.menu-open .contacts__dark {
  display: inline-block;
}

.bucket {
  position: relative;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 22px;
    position: absolute;
    background-color: #c40b0b;
    border-radius: 50%;
    // position: relative;
    left: 10px;
    top: -10px;
    width: 16px;
    height: 16px;
  }
}
// .shopping-cart__circle {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #ffffff;
//   font-size: 10px;
//   font-weight: 500;
//   letter-spacing: 0.15px;
//   line-height: 22px;
//   position: absolute;
//   background-color: #c40b0b;
//   border-radius: 50%;
//   // position: relative;
//   left: 10px;
//   top: -10px;
//   width: 16px;
//   height: 16px;
// }

.contacts {
  @media (max-width: $mobile) {
    position: relative;
    align-items: center;
    @include adaptiveValue('column-gap', 30, 10, 4, 768, 620);
  }
  @media (min-width: $mobile) {
    @include adaptiveValue('column-gap', 238, 15, 4, 1380, 800);
  }
  margin: 0 0 28px 0;
  // flex: 1 1 auto;
  // max-height: 40px;
  display: flex;
  justify-content: space-between;
  // width: 100%;
  font-size: 12px;
  color: #ffffff;
  // @include adaptiveValue('column-gap', 238, 50, 4, 1380, 768);

  // .contacts__logo
  &__logo {
    position: relative;
    z-index: 1;
    // & img {
    // 	color: #000000;
    // }
  }

  // .contacts__body
  &__body {
    font-weight: 700;
    @media (max-width: $tablet) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile) {
      font-weight: 400;
      justify-content: flex-end;
      // column-gap: 35px;
      // position: absolute;
      // top: 0;
      // left: 50%;
      // transform: translate(-15%, 0)
    }
    @media (max-width: em(650)) {
      display: none;
    }
    // height: 40px;
    display: flex;
    flex: 1 1 auto;
    // тут или gap или  space-between можно использовать разница в адаптиве
    justify-content: space-between;
    // gap: 33px;
  }
  // .contacts__button
  .contacts__button {
    // height: 40px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .contacts_block
  // &_block2 {
  // flex: 1 1 auto;
  // align-self: start;
  // display: flex;
  // letter-spacing: 0.15px;
  // line-height: 20px;
  // width: 100%;
  // max-height: 40px;
  // max-width: 172px;
  // }
  // .contacts__service
  &__service {
    position: relative;
    align-self: start;
    display: flex;
    letter-spacing: 0.15px;
    line-height: 20px;
    padding: 0 0 0 45px;
    // font-weight: 700;
    &::before {
      content: '';
      background: url('../img/icon/access_time_24px.svg') 0 0 / 100% no-repeat;
      position: absolute;
      left: 14px;
      width: 20px;
      height: 20px;
    }
  }
  // .contacts__call-us
  &__service_watch {
    // padding: 0 0 0 45px;
    // left: 3px;
    // font-weight: 500;
    &::before {
      background: url('../img/icon/phone_24px.svg') 0 0 / 100% no-repeat;
    }
  }
}

.button-appointment {
  background: #c40b0b url(../img/button.svg) right 0/43px 48px no-repeat;
  // display: inline-block;
  // max-width: 211px;
  // min-height: 41px;
  color: #fff;
  // flex-basis: 211px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //  align-self: start;
  // display: inline-block;
  // text-align: center;
  width: 211px;
  // flex-grow: 1;
  // flex: 0 1 auto;
  // column-gap: 29px;
  // column-gap: 26px;
  padding: 9px 10px 9px 20px;
  // background: #c40b0b;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  // display: flex;
  // align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  // font-style: normal;
  // transform: matrix(-1, 0, 0, 1, 0, 0);

  /* /Neutral/White */

  // color: #ffffff;

  // border-radius: 2px;
  // position: relative;
  // text-align: center;
  // width: 300px;
  &::after {
    content: '';
    background: url('../img/icon/arrow_forward_24px.svg') 0 0 / 100% no-repeat;
    // display: inline-block;
    // margin: 0 0 0 29px;
    width: 12px;
    height: 12px;
    // position: relative;
    // top: 0;
    // right: 50%;
    // top: 0%;
    // right: 8px;
    // transform: translate(50%, 50%);
  }
  // .button-appointment__text
  &__text {
    // display: inline-block;
    // flex: 1 1 auto;
  }
  &:hover {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
      drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.menu {
  // @media (max-width:$mobile){
  // 	flex-direction: column;

  // }
  height: 100%;
  // .menu__items
  &__items {
    @media (max-width: $mobile) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      font-size: 35px;
      // justify-content: center;
      align-items: center;
      row-gap: 15px;
    }
    display: flex;
    // align-items: center;
    // justify-content: center;
    // Style for "Services"
    // Fill style: Vector
    color: #02133c;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.15px;
    line-height: 157%;
    text-align: center;
    column-gap: 37px;
  }
  // .menu__item
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    &:hover .submenu {
      visibility: visible;
      opacity: 1;
      top: 20px;
      // display: block;

      transition: all 0.3s ease 0s;
    }
    &:hover .submenu__arrow-button {
      transform: rotate(180deg);
      transition: all 0.3s ease 0s;
    }
  }
  // .menu__link
  &__link {
    cursor: pointer;
  }
  &__link_arrow {
    display: flex;
    // justify-content: center;
    align-items: center;
    // &::after {
    //   content: '';
    //   background: url('../img/icon/icon/navigation/expand_more_24px.svg') 0 0 /100%
    //     no-repeat;
    //   position: relative;
    //   left: 4px;
    //   width: 8px;
    //   height: 6px;
    //   // z-index: 999;
    // }
  }
  // .menu__submenu
  &__submenu {
  }
  // .submenu__arrow-button
  .submenu__arrow-button {
    @media (max-width: $mobile) {
      left: 5px;
      width: 25px;
      height: 20px;
    }
    background: url('../img/icon/icon/navigation/expand_more_24px.svg') 0 0 /100%
      no-repeat;
    position: relative;
    left: 5px;
    width: 10px;
    height: 8px;
    transition: all 0.3s ease 0s;
  }
}
.submenu {
  pointer-events: none;
  pointer-events: all;
  // display: block;
  position: absolute;
  width: max-content;
  // position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 0 10px 0;
  // width: 200px;
  top: 55px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  // плавное скрытие меню
  //  transition: all 0.3s ease 0s;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.54))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.15px;
  color: #02133c;
  // .submenu__list
  &__list {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // width: max-content;
    background: #fff;
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 10px;
      top: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
  // .submenu__item
  &__item {
    padding: 8px 25px;
    // cursor: pointer;
    // display: block;
    text-align: left;
    &:hover {
      font-weight: 900;
      text-decoration: underline;
      // 	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.54))
      // drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
      // display: flex;
      transform: translate(-1px, 0px);
      box-shadow: 7px 9px 14px -3px rgba(0, 0, 0, 0.2),
        11px -10px 14px -3px rgba(0, 0, 0, 0.2);
    }
  }
  // .submenu__link
  &__link {
    cursor: pointer;
    // display: block;
  }
}

.touch .active .submenu {
  position: relative;
	// display: none;
}
.menu-open .active .submenu {
  position: relative;
	// display: none;
}

.search {
  &__input {
    position: absolute;
    width: 300px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    top: -11px;
    left: -267px;
    opacity: 0;
    visibility: hidden;
    // float: left;
    color: #63717f;
    padding-left: 45px;
    filter: drop-shadow(0px 8px 5px rgba(38, 38, 38, 0.54))
      drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    transition: all 0.3s ease 0s;
    // transform-origin: right top;
    // transform: scaleX(0);
    // animation: show 0.55s;
    // animation-duration: 0.55s;
    // animation-direction: reverse;
  }
  &__button:hover &__input {
    opacity: 1;
    visibility: visible;
    // width: 300px;
    //  transform: scaleX(1);
    transition: all 0.3s ease 0s;
    // transform-origin: right top;
    // animation: show 0.55s;
    // animation-duration: 0.55s;
    // animation-direction: alternate;
    // animation-fill-mode: forwards;
  }

  // @keyframes show {
  //   0% {
  //     width: 30px;
  //   }
  //   100% {
  //     width: 300px;
  //   }
  // }
}

/*=============================================================================
====Burger====================================================================
==============================================================================*/

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    // flex: 0 0 40px;
    // height: 22.5px;
    display: block;
    position: relative;
    // right: 0;
    // top: 0;
    width: rem(40);
    height: rem(22.5);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before,
      &::after {
        background-color: grey;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
