/*=============================================================================
====header=====================================================================
==============================================================================*/

.header {
  padding: 26px 0px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container
  &__container {
  }
  // .header__body
  .header__body {
  }
  // .header__contacts
  &__contacts {
  }
  // .header__list
  &__list {
    @media (max-width: $mobile) {
      position: fixed;
      overflow: auto;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s ease 0s;
      background-color: #f5f5f5;
      @include adaptiveValue('padding-top', 170, 100);
      padding-bottom: rem(30);
      padding-right: rem(15);
      padding-left: rem(15);
      &::before {
        content: '';
        top: -100%;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1;
        transition: top 0.3s ease 0s;
        background: linear-gradient(
          to bottom,
          #f5f5f5 50%,
          rgba(0, 0, 0, 0) 100%
        );
        @include adaptiveValue('height', 171, 100);
      }
      .menu-open & {
        left: 0;
        &::before {
          top: 0;
        }
      }
    }

    // position: absolute;
    padding: 10px 40px;
    min-height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .header__menu
  &__menu {
  }
  // .header__icons
  &__icons {
    @media (max-width: $mobile) {
      display: none;
    }
    display: flex;
    column-gap: 27px;
    position: relative;
  }
  // .header__search
  &__search {
  }
  // .header__bucket
  &__bucket {
  }
}

// .contacts__light
.menu-open .contacts__light {
  display: none;
}
.contacts__light {
  display: inline-block;
}
// .contacts__dark
.contacts__dark {
  display: none;
}
.menu-open .contacts__dark {
  display: inline-block;
}

.bucket {
  position: relative;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 22px;
    position: absolute;
    background-color: #c40b0b;
    border-radius: 50%;
    left: 10px;
    top: -10px;
    width: 16px;
    height: 16px;
  }
}

.contacts {
  @media (max-width: $mobile) {
    position: relative;
    align-items: center;
    @include adaptiveValue('column-gap', 30, 10, 4, 768, 620);
  }
  @media (min-width: $mobile) {
    @include adaptiveValue('column-gap', 238, 15, 4, 1380, 800);
  }
  margin: 0 0 28px 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ffffff;

  // .contacts__logo
  &__logo {
    position: relative;
    z-index: 1;
  }

  // .contacts__body
  &__body {
    font-weight: 700;
    @media (max-width: $tablet) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile) {
      font-weight: 400;
      justify-content: flex-end;
    }
    @media (max-width: em(650)) {
      display: none;
    }
    display: flex;
    flex: 1 1 auto;
    // тут или gap или  space-between можно использовать разница в адаптиве
    justify-content: space-between;
    // gap: 33px;
  }
  // .contacts__button
  .contacts__button {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .contacts__service
  &__service {
    position: relative;
    align-self: start;
    display: flex;
    letter-spacing: 0.15px;
    line-height: 20px;
    padding: 0 0 0 45px;
    // font-weight: 700;
    &::before {
      content: '';
      background: url('../img/icon/access_time_24px.svg') 0 0 / 100% no-repeat;
      position: absolute;
      left: 14px;
      width: 20px;
      height: 20px;
    }
  }
  // .contacts__call-us
  &__service_watch {
    &::before {
      background: url('../img/icon/phone_24px.svg') 0 0 / 100% no-repeat;
    }
  }
}

.button-appointment {
  background: #c40b0b url(../img/button.svg) right 0/43px 48px no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
  padding: 9px 10px 9px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  &::after {
    content: '';
    background: url('../img/icon/arrow_forward_24px.svg') 0 0 / 100% no-repeat;
    width: 12px;
    height: 12px;
  }
  // .button-appointment__text
  &__text {
  }
  &:hover {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
      drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.menu {
  &__items {
    @media (max-width: $mobile) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      font-size: 35px;
      align-items: center;
      row-gap: 15px;
    }
    display: flex;
    color: #02133c;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.15px;
    line-height: 157%;
    text-align: center;
    column-gap: 37px;
  }
  // .menu__list
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .menu__item
  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
    &:hover .submenu {
      @media (min-width: $mobile) {
        visibility: visible;
        opacity: 1;
        top: 20px;
        transition: all 0.3s ease 0s;
      }
    }
    // @media (max-width: $mobile) {
    .submenu__arrow-button.rotate {
      transform: rotate(180deg);
      transition: all 0.3s ease 0s;
    }
    @media (min-width: $pc) {
      &:hover .submenu__arrow-button {
        transform: rotate(180deg);
        transition: all 0.3s ease 0s;
      }
    }
  }
  // .menu__link
  &__link {
    cursor: pointer;
  }
  &__link_arrow {
    display: flex;
    align-items: center;
  }
  // .menu__submenu
  &__submenu {
  }
  // .submenu__arrow-button
  .submenu__arrow-button {
    @media (max-width: $mobile) {
      left: 5px;
      width: 25px;
      height: 20px;
    }
    background: url('../img/icon/icon/navigation/expand_more_24px.svg') 0 0 /100%
      no-repeat;
    position: relative;
    left: 5px;
    width: 10px;
    height: 8px;
    transition: all 0.3s ease 0s;
  }
}
.submenu {
  pointer-events: none;
  pointer-events: all;
  position: absolute;
  width: max-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 163%;
  padding: 10px 0 10px 0;
  top: 55px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.54))
  drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  letter-spacing: 0.15px;
  color: #02133c;
  // .submenu__list
  &__list {
    background: #fff;
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 10px;
      top: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
  // .submenu__item
  &__item {
    padding: 8px 25px;
    text-align: left;
    &:hover {
      font-weight: 900;
      text-decoration: underline;
      transform: translate(-1px, 0px);
      box-shadow: 7px 9px 14px -3px rgba(0, 0, 0, 0.2),
        11px -10px 14px -3px rgba(0, 0, 0, 0.2);
    }
  }
  // .submenu__link
  &__link {
    cursor: pointer;
  }
}
.touch .active .submenu {
  position: relative;
}
.menu-open .submenu {
  filter: none;
  font-size: 0px;
  top: 0;
  transition: all 0.3s ease 0s;
}
.menu-open .menu__item .active.submenu {
  filter: none;
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
  background-color: #f5f5f5;
  font-size: 30px;
  top: 0;
  transition: all 0.3s ease 0s;
}
.menu-open .menu__item {
  display: block;
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }
  // display: none;
}
.menu-open .submenu__list {
  background-color: #f5f5f5;
  // display: none;
  &::before {
    display: none;
  }
}

.search {
  &__input {
    position: absolute;
    width: 300px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    top: -11px;
    left: -267px;
    opacity: 0;
    visibility: hidden;
    color: #63717f;
    padding-left: 45px;
    filter: drop-shadow(0px 8px 5px rgba(38, 38, 38, 0.54))
      drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    transition: all 0.3s ease 0s;
  }
  &__button:hover &__input {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
  }
}

/*=============================================================================
====Burger====================================================================
==============================================================================*/

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(40);
    height: rem(22.5);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before,
      &::after {
        background-color: grey;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
